/* 헤더 ====================================================================================== */
#main_wrap header .header {position: absolute; top: 30px; left: 0; z-index: 10; width: 100%;  background-color: transparent;}
#main_wrap header .header .container {
    padding: 15px  80px; height: 90px;
    display: flex; justify-content: space-between; align-items: center;
}
#main_wrap header .header .container .menu {width: max-content; display: flex; gap: 20px;}
#main_wrap header .header .container .menu a {text-transform: uppercase; font-weight: 500; font-size: 0.875rem;}
#main_wrap header .header .container .menu a:last-of-type {display: none;}
#main_wrap header .header .container h1{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: max-content;}
#main_wrap header .header .container h1 a {}
#main_wrap header .header .container h1 a img {}
#main_wrap header .header .container .right {display: flex; gap: 15px;}
#main_wrap header .header .container .right a {}
#main_wrap header .header .container .right a img {}

/* 풋터 ====================================================================================== */
#main_wrap footer {background: #000;}
#main_wrap footer * {color: #fff; text-transform: uppercase; font-size: 0.625rem;}
#main_wrap footer .container {
    max-width: 1800px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 50px 0;
    display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 70px;
}
#main_wrap footer .container .top span {font-weight: 600; line-height: 1.2;}
#main_wrap footer .container .top {display: flex; align-items: flex-start; justify-content: center; gap: 55px; width: calc(100% - 640px);}
#main_wrap footer .container .top .company {display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between; gap: 12px; width: 150px;}
#main_wrap footer .container .top .shop {display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between; gap: 12px; width: 150px;}
#main_wrap footer .container .top .service {display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between; gap: 12px; width: 150px;}
#main_wrap footer .container .bottom {display: flex; flex-flow: column nowrap; align-items: flex-end; justify-content: flex-end; gap: 20px;}
#main_wrap footer .container .bottom .sns {display: flex; gap: 15px;}
#main_wrap footer .container .bottom span {font-weight: 500;}