body, html {scroll-behavior: smooth;}
body * {transition: all 0.3s; overflow: hidden;}
#main_wrap {min-height: 100vh;}

/* .container {
    max-width: 1160px; min-width: 340px; overflow: hidden;
} */

#main_wrap {}
#main_wrap header {position: relative; width: 100%;}

/* 띠배너====================================================================================== */
#main_wrap header .line_bnr {background: #000; height: 30px; position: relative; padding: 0 380px;}
#main_wrap header .line_bnr * {color: #fff; text-transform: uppercase; font-size: 0.75rem; line-height: 30px; overflow: hidden;}
#main_wrap header .line_bnr .container {max-width: 1160px; min-width: 340px; overflow: hidden;}
#main_wrap header .line_bnr .center {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: max-content;}
#main_wrap header .line_bnr .right {position: absolute; right: 380px; top: 50%; transform: translateY(-50%); width: max-content;}
#main_wrap header .line_bnr .right span {margin-right: 5px;}
#main_wrap header .line_bnr .right img {}

/* 상단 비디오====================================================================================== */
#main_wrap header .viedo {}
#main_wrap header .viedo .video_play {position: relative; margin: 0 auto;}
#main_wrap header .viedo .video_play video {max-width: 100%; min-width: 340px; overflow: hidden;}
#main_wrap header .viedo .txt {position: absolute; left: 50%; bottom: 40px; transform: translateX(-50%); width: max-content;}
#main_wrap header .viedo .txt * {text-transform: uppercase;}
#main_wrap header .viedo .txt h1 {font-weight: 900; font-size: 2.5rem; color: #fff}
#main_wrap header .viedo .txt p {margin: 30px 0; font-size: 0.75rem; color: #fff;}
#main_wrap header .viedo .txt .btn {padding: 15px 30px; border: 1px solid #000; width: max-content; background: #fff; margin: 0 auto; position: relative; box-sizing: border-box; }
#main_wrap header .viedo .txt .btn a {text-transform: uppercase; font-size: 0.938rem; font-weight: 500;}
#main_wrap header .viedo .txt .btn:hover {border: 1px solid #000; outline: 1px solid #000;}
#main_wrap header .viedo .txt .btn::after {
    content: ''; /* 내용이 없는 가상 요소 */
    position: absolute; bottom: 0; /* 부모 요소의 bottom 위치에 배치 */ left: 0;
    width: 100%; /* 부모 요소의 전체 너비 */ height: 0px; /* 기본 border-bottom 높이 */
    background: #000; /* 기본 border-bottom 색 */
}
#main_wrap header .viedo .txt .btn:hover::after {height: 1px; /* hover 시 bottom border 두께 1px로 변경 */}

/* 1행 ====================================================================================== */
#main_wrap main {}
#main_wrap main .row1 {max-width: 1160px; min-width: 340px; overflow: hidden; margin: 0 auto}
#main_wrap main .row1 .container {text-align: center; padding: 140px 0 70px;}
#main_wrap main .row1 .container h1 {font-size: 1.75rem; font-weight: 900; text-transform: uppercase;}
#main_wrap main .row1 .container .img {margin: 40px 0;}
#main_wrap main .row1 .container .img img {width: 100%;}
#main_wrap main .row1 .container p {display: flex; flex-flow: column nowrap; gap: 20px; justify-content: center; align-items: center;}
#main_wrap main .row1 .container p span {font-size: 0.75rem;}
#main_wrap main .row1 .container p a {
    padding: 15px 30px; position: relative;
    border: 1px solid #000; background: #fff; width: max-content; box-sizing: border-box; 
    text-transform: uppercase; font-size: 0.938rem; font-weight: 500;
}
#main_wrap main .row1 .container p a:hover {border: 1px solid #000; outline: 1px solid #000;}
#main_wrap main .row1 .container p a::after {
    content: ''; /* 내용이 없는 가상 요소 */
    position: absolute; bottom: 0; /* 부모 요소의 bottom 위치에 배치 */ left: 0;
    width: 100%; /* 부모 요소의 전체 너비 */ height: 0px; /* 기본 border-bottom 높이 */
    background: #000; /* 기본 border-bottom 색 */
}
#main_wrap main .row1 .container p a:hover::after {height: 1px; /* hover 시 bottom border 두께 1px로 변경 */}

/* 2행 ====================================================================================== */
#main_wrap main .row2 {max-width: 1160px; min-width: 340px; overflow: hidden; margin: 0 auto; padding: 70px 0;}
#main_wrap main .row2 .container {text-align: center;}
#main_wrap main .row2 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row2 .container .contents {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; gap: 25px;}
#main_wrap main .row2 .container .contents .left {width: calc(100% / 2);}
#main_wrap main .row2 .container .contents .left img {width: 100%;}
#main_wrap main .row2 .container .contents .right {
    display: flex; justify-content: space-between; align-items: flex-start; gap: 15px;
    width: calc(100% / 2); height: 508px;
}
#main_wrap main .row2 .container .contents .right .product {
    width: calc(100% / 2); height: 100%;
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center; gap: 10px;
}
#main_wrap main .row2 .container .contents .right .product .img {padding: 10px; width: 270px; height: 270px;}
#main_wrap main .row2 .container .contents .right .product .img .new_like {
    display: flex; justify-content: space-between;
    width: calc(100% - 20px);
}
#main_wrap main .row2 .container .contents .right .product .img .new_like span {font-size: 0.688rem; background: #7F7F7F; color: #fff; padding: 5px 7px;}
#main_wrap main .row2 .container .contents .right .product .img .new_like .like {}
#main_wrap main .row2 .container .contents .right .product .img .new_like .like img {}
#main_wrap main .row2 .container .contents .right .product .img > img {width: 180px;}
#main_wrap main .row2 .container .contents .right .product .txt {
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;
    width: 100%; height: 174px; padding: 0 10px;
}
#main_wrap main .row2 .container .contents .right .product .txt h2 {}
#main_wrap main .row2 .container .contents .right .product .txt h2 a {font-size: 0.75rem; text-transform: uppercase; line-height: 120%; font-weight: 600;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type {
    display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 15px;
    height: 70px;
}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:first-of-type {font-size: 0.75rem; text-transform: uppercase; line-height: 120%; color: #b7b7b7;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) {display: flex; justify-content: center; gap: 10px; align-items: center;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) button {
    width: 24px; height: 24px; padding: 2px; position: relative;
    border: 1px solid #7F7F7F; box-sizing: border-box;
}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) button:hover {border: 1px solid #000000;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) button span {width: 18px; height: 18px; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum1 span {background: #A7585C;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum2 span {background: #EF9497;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum3 span {background: #AE443B;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum4 span {background: #EC7562;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum5 span {background: #994058;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum6 span {background: #DA5C61;}


#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum {
    /* display: grid; grid-template-columns: repeat(2, 9px); grid-template-rows: repeat(2, 9px); */
    box-sizing: border-box; position: relative;
}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span {
    /* width: 9px; height: 9px;  */display: inline-block; 
    transition: none; position: absolute;
}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(1) {background: #E2C0A2; width: 18px; height: 18px;}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(2) {background: #C79478; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(3) {background: #C88D83; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(4) {background: #B26C63; width: 9px; height: 9px; transform: translate(0%, 0%);}
/* #main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum:hover {transform: none;} */

#main_wrap main .row2 .container .contents .right .product .txt p:last-of-type {font-weight: 500; font-size: 0.875rem;}
#main_wrap main .row2 .container .contents .right .product .btn {}
#main_wrap main .row2 .container .contents .right .product .btn .add_cart {
    background: #000; color: #fff;
    text-transform: uppercase; font-size: 0.875rem;
    width: 270px; height: 44px; 
}
#main_wrap main .row2 .container .contents .right .product .btn .add_cart:hover {background: rgb(0, 0, 0, 0.9);}

/* 3행 ====================================================================================== */
#main_wrap main .row3 {max-width: 100%; min-width: 340px; overflow: hidden; margin: 0 auto; padding: 70px 0;}
#main_wrap main .row3 .container {text-align: center;}
#main_wrap main .row3 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row3 .container div {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; gap: 20px;}
#main_wrap main .row3 .container div a {width: calc(100% / 2); height: 575px; position: relative;}
#main_wrap main .row3 .container div a:first-of-type {background: url(../images/row3001.png) no-repeat center / cover;}
#main_wrap main .row3 .container div a:last-of-type {background: url(../images/row3002.png) no-repeat center / cover;}
#main_wrap main .row3 .container div a span {font-size: 1.75rem; font-weight: 600; color: #fff; text-transform: uppercase; border-bottom: 2px solid #fff; position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);}

/* 4행 ====================================================================================== */
#main_wrap main .row4 {max-width: 1160px; min-width: 340px; overflow: hidden; margin: 0 auto; padding: 70px 0px;}
#main_wrap main .row4 .container {text-align: center;}
#main_wrap main .row4 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row4 .container p {
    font-size: 0.75rem; text-transform: uppercase; line-height: 120%;
    margin-bottom: 40px;
}
#main_wrap main .row4 .container .wrap {
    display: flex; justify-content: space-between; align-items: center; gap: 50px;
    height: 450px;
}
#main_wrap main .row4 .container .wrap .video {width: 800px; height: 100%; background: aqua;}
#main_wrap main .row4 .container .wrap .product {display: flex; flex-flow: column nowrap; justify-content: space-between; width: 270px; height: 100%;}
#main_wrap main .row4 .container .wrap .product .img {width: 270px; height: 270px; position: relative;}
#main_wrap main .row4 .container .wrap .product .img .like {position: absolute;}
#main_wrap main .row4 .container .wrap .product .img .like img {}
#main_wrap main .row4 .container .wrap .product .img img {}
#main_wrap main .row4 .container .wrap .product .btn .add_cart {
    background: #000; color: #fff;
    text-transform: uppercase; font-size: 0.875rem;
    width: 270px; height: 44px; 
}