body, html {scroll-behavior: smooth;}
body * {transition: all 0.3s; overflow: hidden;}
#main_wrap {min-height: 100vh;}

/* .container {
    max-width: 1160px; min-width: 340px; overflow: hidden;
} */

#main_wrap {}
#main_wrap header {position: relative; width: 100%;}

/* 띠배너====================================================================================== */
#main_wrap header .line_bnr {background: #000; height: 30px; position: relative;}
#main_wrap header .line_bnr * {color: #fff; text-transform: uppercase; font-size: 0.75rem; line-height: 30px; overflow: hidden;}
#main_wrap header .line_bnr .container {max-width: 1160px; min-width: 430px; overflow: hidden;}
#main_wrap header .line_bnr .center {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: max-content;}
#main_wrap header .line_bnr .right {position: absolute; right: 380px; top: 50%; transform: translateY(-50%); width: max-content;}
#main_wrap header .line_bnr .right span {margin-right: 5px;}
#main_wrap header .line_bnr .right img {}

/* 상단 비디오====================================================================================== */
#main_wrap header .viedo {}
#main_wrap header .viedo .video_play {position: relative; margin: 0 auto;}
#main_wrap header .viedo .video_play video {max-width: 100%; min-width: 430px; overflow: hidden;}
#main_wrap header .viedo .txt {position: absolute; left: 50%; bottom: 40px; transform: translateX(-50%); width: max-content;}
#main_wrap header .viedo .txt * {text-transform: uppercase;}
#main_wrap header .viedo .txt h1 {font-weight: 900; font-size: 2.5rem; color: #fff}
#main_wrap header .viedo .txt p {margin: 30px 0; font-size: 0.75rem; color: #fff;}
#main_wrap header .viedo .txt .btn {padding: 15px 30px; border: 1px solid #000; width: max-content; background: #fff; margin: 0 auto; position: relative; box-sizing: border-box; }
#main_wrap header .viedo .txt .btn a {text-transform: uppercase; font-size: 0.938rem; font-weight: 500;}
#main_wrap header .viedo .txt .btn:hover {border: 1px solid #000; outline: 1px solid #000;}
#main_wrap header .viedo .txt .btn::after {
    content: ''; /* 내용이 없는 가상 요소 */
    position: absolute; bottom: 0; /* 부모 요소의 bottom 위치에 배치 */ left: 0;
    width: 100%; /* 부모 요소의 전체 너비 */ height: 0px; /* 기본 border-bottom 높이 */
    background: #000; /* 기본 border-bottom 색 */
}
#main_wrap header .viedo .txt .btn:hover::after {height: 1px; /* hover 시 bottom border 두께 1px로 변경 */}

/* 1행 ====================================================================================== */
#main_wrap main {}
#main_wrap main .row1 {max-width: 1160px; min-width: 430px; overflow: hidden; margin: 0 auto}
#main_wrap main .row1 .container {text-align: center; padding: 140px 0 70px;}
#main_wrap main .row1 .container h1 {font-size: 1.75rem; font-weight: 900; text-transform: uppercase;}
#main_wrap main .row1 .container .img {margin: 40px 0;}
#main_wrap main .row1 .container .img img {width: 100%;}
#main_wrap main .row1 .container p {display: flex; flex-flow: column nowrap; gap: 20px; justify-content: center; align-items: center;}
#main_wrap main .row1 .container p span {font-size: 0.75rem;}
#main_wrap main .row1 .container p a {
    padding: 15px 30px; position: relative;
    border: 1px solid #000; background: #fff; width: max-content; box-sizing: border-box; 
    text-transform: uppercase; font-size: 0.938rem; font-weight: 500;
}
#main_wrap main .row1 .container p a:hover {border: 1px solid #000; outline: 1px solid #000;}
#main_wrap main .row1 .container p a::after {
    content: ''; /* 내용이 없는 가상 요소 */
    position: absolute; bottom: 0; /* 부모 요소의 bottom 위치에 배치 */ left: 0;
    width: 100%; /* 부모 요소의 전체 너비 */ height: 0px; /* 기본 border-bottom 높이 */
    background: #000; /* 기본 border-bottom 색 */
}
#main_wrap main .row1 .container p a:hover::after {height: 1px; /* hover 시 bottom border 두께 1px로 변경 */}

/* 2행 ====================================================================================== */
#main_wrap main .row2 {}
#main_wrap main .row2 .container {text-align: center; max-width: 1160px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 70px 0;}
#main_wrap main .row2 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row2 .container .contents {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; gap: 25px;}
#main_wrap main .row2 .container .contents .left {width: calc(100% / 2);}
#main_wrap main .row2 .container .contents .left img {width: 100%;}
#main_wrap main .row2 .container .contents .right {
    display: flex; justify-content: space-between; align-items: flex-start; gap: 15px;
    width: calc(100% / 2); height: 508px;
}
#main_wrap main .row2 .container .contents .right .product {
    width: calc(100% / 2); height: 100%;
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center; gap: 10px;
}
#main_wrap main .row2 .container .contents .right .product .img {
    padding: 10px; width: 270px; height: 270px;
    display: flex; align-items: center; justify-content: center; flex-flow: column nowrap;
    position: relative;
}
#main_wrap main .row2 .container .contents .right .product .img .new_like {
    display: flex; justify-content: space-between;
    width: 100%;
    position: absolute; top: 0px; right: 0px; padding: 10px;

}
#main_wrap main .row2 .container .contents .right .product .img .new_like span {font-size: 0.688rem; background: #7F7F7F; color: #fff; padding: 5px 7px;}
#main_wrap main .row2 .container .contents .right .product .img .new_like .like {}
#main_wrap main .row2 .container .contents .right .product .img .new_like .like img {}
#main_wrap main .row2 .container .contents .right .product .img > img {width: 180px;}
#main_wrap main .row2 .container .contents .right .product .txt {
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;
    width: 100%; height: 174px; padding: 0 10px;
}
#main_wrap main .row2 .container .contents .right .product .txt h2 {}
#main_wrap main .row2 .container .contents .right .product .txt h2 a {font-size: 0.75rem; text-transform: uppercase; line-height: 120%; font-weight: 600;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type {
    display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 15px;
    height: 70px;
}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:first-of-type {font-size: 0.75rem; text-transform: uppercase; line-height: 120%; color: #b7b7b7;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) {display: flex; justify-content: center; gap: 10px; align-items: center;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) button {
    width: 24px; height: 24px; padding: 2px; position: relative;
    border: 1px solid #7F7F7F; box-sizing: border-box;
}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) button:hover {border: 1px solid #000000;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) button span {width: 18px; height: 18px; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum1 span {background: #A7585C;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum2 span {background: #EF9497;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum3 span {background: #AE443B;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum4 span {background: #EC7562;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum5 span {background: #994058;}
#main_wrap main .row2 .container .contents .right .product .txt p:first-of-type > span:nth-of-type(2) .lip_thum6 span {background: #DA5C61;}


#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum {
    /* display: grid; grid-template-columns: repeat(2, 9px); grid-template-rows: repeat(2, 9px); */
    box-sizing: border-box; position: relative;
}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span {
    /* width: 9px; height: 9px;  */display: inline-block; 
    transition: none; position: absolute;
}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(1) {background: #E2C0A2; width: 18px; height: 18px;}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(2) {background: #C79478; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(3) {background: #C88D83; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum span:nth-of-type(4) {background: #B26C63; width: 9px; height: 9px; transform: translate(0%, 0%);}
/* #main_wrap main .row2 .container .contents .right .product .txt .txt2 > span:nth-of-type(2) .eye_thum:hover {transform: none;} */

#main_wrap main .row2 .container .contents .right .product .txt p:last-of-type {font-weight: 500; font-size: 0.875rem;}
#main_wrap main .row2 .container .contents .right .product .btn {}
#main_wrap main .row2 .container .contents .right .product .btn .add_cart {
    background: #000; color: #fff;
    text-transform: uppercase; font-size: 0.875rem;
    width: 270px; height: 44px; 
}
#main_wrap main .row2 .container .contents .right .product .btn .add_cart:hover {background: rgb(0, 0, 0, 0.9);}

/* 3행 ====================================================================================== */
#main_wrap main .row3 {}
#main_wrap main .row3 .container {text-align: center; max-width: 100%; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 70px 0;}
#main_wrap main .row3 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row3 .container div {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; gap: 20px; height: 575px;}
#main_wrap main .row3 .container div a {width: calc(100% / 2); height: 100%; position: relative;}
#main_wrap main .row3 .container div a:first-of-type {background: url(../images/row3001.png) no-repeat center / cover;}
#main_wrap main .row3 .container div a:last-of-type {background: url(../images/row3002.png) no-repeat center / cover;}
#main_wrap main .row3 .container div a span {font-size: 1.75rem; font-weight: 600; color: #fff; text-transform: uppercase; border-bottom: 2px solid #fff; position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);}

/* 4행 ====================================================================================== */
#main_wrap main .row4 {}
#main_wrap main .row4 .container {text-align: center; max-width: 1160px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 70px 0;}
#main_wrap main .row4 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row4 .container > p {
    font-size: 0.75rem; text-transform: uppercase; line-height: 120%;
    margin-bottom: 40px;
}
#main_wrap main .row4 .container .wrap {
    display: flex; justify-content: space-between; align-items: center; gap: 50px;
    height: 450px;
}
#main_wrap main .row4 .container .wrap .video {width: 800px; height: 100%;}
#main_wrap main .row4 .container .wrap .product {
    display: flex; flex-flow: column nowrap; justify-content: space-between; 
    width: 270px; height: 450px; gap: 10px;
}
#main_wrap main .row4 .container .wrap .product .img {
    width: 270px; height: 270px; position: relative;
    display: flex; justify-content: center; align-items: center;
}
#main_wrap main .row4 .container .wrap .product .img .like {position: absolute; top: 0; right: 0; padding: 10px;}
#main_wrap main .row4 .container .wrap .product .img .like img {}
#main_wrap main .row4 .container .wrap .product .img img {}

#main_wrap main .row4 .container .wrap .product .txt {
    display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between;
    width: 100%; padding: 0 10px; height: 116px;
}
#main_wrap main .row4 .container .wrap .product .txt h2 {}
#main_wrap main .row4 .container .wrap .product .txt h2 a {font-size: 0.75rem; text-transform: uppercase; line-height: 120%; font-weight: 600;}
#main_wrap main .row4 .container .wrap .product .txt .select {
    width: 270px; height: 70px; position: relative;
    display: flex; justify-content: center; align-items: center;
}
#main_wrap main .row4 .container .wrap .product .txt .select span {background: #fff; position: absolute; font-size: 0.75rem; top: 5px; left: 7.5px; padding: 0 5px;}
#main_wrap main .row4 .container .wrap .product .txt .select select[name=option_list] {
    width: 100%; padding: 0 20px; height: 50px;
    border: 1px solid #000;
    background: url(../images/arrow_back.png) no-repeat;
    background-position: 240px 50%;
}
#main_wrap main .row4 .container .wrap .product .txt .select select[name=option_list] option {font-size: 0.75rem; text-transform: uppercase;}
#main_wrap main .row4 .container .wrap .product .txt p {font-weight: 500; font-size: 0.875rem;}

#main_wrap main .row4 .container .wrap .product .btn .add_cart {
    background: #000; color: #fff;
    text-transform: uppercase; font-size: 0.875rem;
    width: 270px; height: 44px; 
}
#main_wrap main .row4 .container .wrap .product .btn .add_cart:hover {background: rgb(0, 0, 0, 0.9);}



/* 5행 ====================================================================================== */
#main_wrap main .row5 {}
#main_wrap main .row5 .container {text-align: center; max-width: 1160px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 70px 0;}
#main_wrap main .row5 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row5 .container > p {
    font-size: 0.75rem; text-transform: uppercase; line-height: 120%;
    margin-bottom: 40px;
}
#main_wrap main .row5 .container .wrap {
    display: flex; justify-content: space-between; align-items: center; gap: 50px;
    height: 450px;
}
#main_wrap main .row5 .container .wrap .product {
    display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 10px;
    width: 270px; height: 100%; 
}
#main_wrap main .row5 .container .wrap .product .img {
    width: 270px; height: 270px; position: relative;
    display: flex; justify-content: center; align-items: center;
}
#main_wrap main .row5 .container .wrap .product .img .like {position: absolute; top: 0; right: 0; padding: 10px;}
#main_wrap main .row5 .container .wrap .product .img .like img {}
#main_wrap main .row5 .container .wrap .product .img img {}
#main_wrap main .row5 .container .wrap .product .txt {
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center; gap: 0px;
    width: 100%; height: 116px;
}
#main_wrap main .row5 .container .wrap .product .txt h2 {}
#main_wrap main .row5 .container .wrap .product .txt h2 a {font-size: 0.75rem; text-transform: uppercase; line-height: 120%; font-weight: 600;}
#main_wrap main .row5 .container .wrap .product .txt .option_color {
    display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 15px;
    width: 100%; height: 24px;
}
#main_wrap main .row5 .container .wrap .product .txt .option_color span {display: flex; justify-content: center; gap: 10px; align-items: center;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span button {
    width: 24px; height: 24px; padding: 2px; position: relative;
    border: 1px solid #7F7F7F; box-sizing: border-box;
}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span button:hover {border: 1px solid #000000;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span button span {width: 18px; height: 18px; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .foda_thum1 span {background: #EDDBCA;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .foda_thum2 span {background: #EED7C8;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .foda_thum3 span {background: #E8D0B6;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .foda_thum4 span {background: #E2CCBD;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .foda_thum5 span {background: #E1D1BB;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .foda_thum6 span {background: #E0CBBA;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .foda_thum7 span {background: #DDC5AF;}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .next {
    border: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 16px; height: 16px;
    display: flex; align-items: center; justify-content: center;
}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .next img {}
#main_wrap main .row5 .container .wrap .product .txt .option_color > span .next:hover {border: none;}
#main_wrap main .row5 .container .wrap .product .txt p {font-weight: 500; font-size: 0.875rem;}
#main_wrap main .row5 .container .wrap .product .btn .add_cart {
    background: #000; color: #fff;
    text-transform: uppercase; font-size: 0.875rem;
    width: 270px; height: 44px; 
}
#main_wrap main .row5 .container .wrap .product .btn .add_cart:hover {background: rgb(0, 0, 0, 0.9);}

#main_wrap main .row5 .container .wrap .video {width: 800px; height: 100%;}


/* 6행 ====================================================================================== */
#main_wrap main .row6 {}
#main_wrap main .row6 .container {text-align: center; max-width: 1160px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 70px 0;}
#main_wrap main .row6 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row6 .container .contents {display: flex; justify-content: space-between; align-items: center; gap: 25px;}
#main_wrap main .row6 .container .contents .product {
    height: 450px; width: 270px;
    display: flex; flex-flow: column nowrap; gap: 10px; justify-content: space-between; align-items: center;
}
#main_wrap main .row6 .container .contents .product .img {
    width: 100%; height: 270px; position: relative;
    display: flex; justify-content: center; align-items: center;
}
#main_wrap main .row6 .container .contents .product .img .like {position: absolute; top: 10px; right: 10px;}
#main_wrap main .row6 .container .contents .product .img .like img {}
#main_wrap main .row6 .container .contents .product .img img {}
#main_wrap main .row6 .container .contents .product .txt {
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;
    width: 100%; height: 116px;
}
#main_wrap main .row6 .container .contents .product .txt h2 {}
#main_wrap main .row6 .container .contents .product .txt h2 a {font-size: 0.75rem; text-transform: uppercase; line-height: 120%; font-weight: 600;}
#main_wrap main .row6 .container .contents .product .txt .option_color {
    display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; gap: 10px;
    height: 24px; width: 100%;}
#main_wrap main .row6 .container .contents .product .txt .option_color .thum {
    width: 24px; height: 24px; padding: 2px; position: relative;
    border: 1px solid #7F7F7F; box-sizing: border-box;
}
#main_wrap main .row6 .container .contents .product .txt .option_color .thum:hover {border: 1px solid #000000;}
#main_wrap main .row6 .container .contents .product .txt .option_color .thum span {width: 18px; height: 18px; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#main_wrap main .row6 .container .contents .pro1 .txt .option_color .thum1 span {background: #DC6D76;}
#main_wrap main .row6 .container .contents .pro1 .txt .option_color .thum2 span {background: #DC6D76;}
#main_wrap main .row6 .container .contents .pro1 .txt .option_color .thum3 span {background: #C9726A;}
#main_wrap main .row6 .container .contents .pro2 .txt .select {
    width: 270px; height: 70px; position: relative;
    display: flex; justify-content: center; align-items: center;
}
#main_wrap main .row6 .container .contents .pro2 .txt .select span {background: #fff; position: absolute; font-size: 0.75rem; top: 5px; left: 7.5px; padding: 0 5px;}
#main_wrap main .row6 .container .contents .pro2 .txt .select select[name=option_list] {
    width: 100%; padding: 0 20px; height: 50px;
    border: 1px solid #000;
}
#main_wrap main .row6 .container .contents .pro2 .txt .select select[name=option_list] option {font-size: 0.75rem; text-transform: uppercase;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum1 span:nth-of-type(1) {background: #E6AE91; width: 18px; height: 18px;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum1 span:nth-of-type(2) {background: #CB9375; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum1 span:nth-of-type(3) {background: #CF7B70; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum1 span:nth-of-type(4) {background: #613B46; width: 9px; height: 9px; transform: translate(0%, 0%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum2 span:nth-of-type(1) {background: #E5C7BB; width: 18px; height: 18px;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum2 span:nth-of-type(2) {background: #E18448; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum2 span:nth-of-type(3) {background: #B27E6E; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum2 span:nth-of-type(4) {background: #955753; width: 9px; height: 9px; transform: translate(0%, 0%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum3 span:nth-of-type(1) {background: #B48679; width: 18px; height: 18px;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum3 span:nth-of-type(2) {background: #D9C0B9; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum3 span:nth-of-type(3) {background: #8B6054; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum3 span:nth-of-type(4) {background: #4F3D34; width: 9px; height: 9px; transform: translate(0%, 0%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum4 span:nth-of-type(1) {background: #D4AF8D; width: 18px; height: 18px;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum4 span:nth-of-type(2) {background: #C7917B; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum4 span:nth-of-type(3) {background: #CB908F; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum4 span:nth-of-type(4) {background: #AF6558; width: 9px; height: 9px; transform: translate(0%, 0%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum5 span:nth-of-type(1) {background: #D6A16A; width: 18px; height: 18px;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum5 span:nth-of-type(2) {background: #AC7473; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum5 span:nth-of-type(3) {background: #973857; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum5 span:nth-of-type(4) {background: #564147; width: 9px; height: 9px; transform: translate(0%, 0%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum6 span:nth-of-type(1) {background: #CFB7AB; width: 18px; height: 18px;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum6 span:nth-of-type(2) {background: #DDB198; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum6 span:nth-of-type(3) {background: #D58D7E; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum6 span:nth-of-type(4) {background: #342A33; width: 9px; height: 9px; transform: translate(0%, 0%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum7 span:nth-of-type(1) {background: #F5D9AA; width: 18px; height: 18px;}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum7 span:nth-of-type(2) {background: #D4956D; width: 9px; height: 9px; transform: translate(0, -100%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum7 span:nth-of-type(3) {background: #C79D7D; width: 9px; height: 9px; transform: translate(-100%, 0);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .thum7 span:nth-of-type(4) {background: #684B3B; width: 9px; height: 9px; transform: translate(0%, 0%);}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color .next {
    border: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 16px; height: 16px;
    display: flex; align-items: center; justify-content: center;
}
#main_wrap main .row6 .container .contents .pro3 .txt .option_color > span .next img {}





#main_wrap main .row6 .container .contents .pro4 .txt .option_color .thum1 span {background: #BA674E;}
#main_wrap main .row6 .container .contents .pro4 .txt .option_color .thum2 span {background: #EBE5E1;}
#main_wrap main .row6 .container .contents .pro4 .txt .option_color .thum3 span {background: #AA5E5C;}
#main_wrap main .row6 .container .contents .product .txt p {font-weight: 500; font-size: 0.875rem;}

#main_wrap main .row6 .container .contents .product .btn .add_cart {
    background: #000; color: #fff;
    text-transform: uppercase; font-size: 0.875rem;
    width: 270px; height: 44px; 
}
#main_wrap main .row6 .container .contents .product .btn .add_cart:hover {background: rgb(0, 0, 0, 0.9);}


/* 7행 ====================================================================================== */
#main_wrap main .row7 {}
#main_wrap main .row7 .container {
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center; gap: 40px; width: 100%;
    max-width: 1760px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 70px 0;
}
#main_wrap main .row7 .container * {text-align: center;}
#main_wrap main .row7 .container .row {
    display: flex; align-items: center; justify-content: space-between;
    width: 100%; height: 580px;
}
#main_wrap main .row7 .container .row .left {display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; gap: 30px;}
#main_wrap main .row7 .container .row .left h1 {font-size: 1.75rem; font-weight: 900; text-transform: uppercase;}
#main_wrap main .row7 .container .row .left p {font-size: 0.75rem; text-transform: uppercase;}
#main_wrap main .row7 .container .row .left a {
    text-transform: uppercase; font-size: 0.938rem; font-weight: 500;
    padding: 15px 50px; background: #000; color: #fff;
}
#main_wrap main .row7 .container .row .left a:hover {background: rgb(0, 0, 0, 0.9);}
#main_wrap main .row7 .container .row .right {display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; gap: 30px;}
#main_wrap main .row7 .container .row .right h1 {font-size: 1.75rem; font-weight: 900; text-transform: uppercase;}
#main_wrap main .row7 .container .row .right p {font-size: 0.75rem; text-transform: uppercase;}
#main_wrap main .row7 .container .row .right a {
    text-transform: uppercase; font-size: 0.938rem; font-weight: 500;
    padding: 15px 50px; background: #000; color: #fff;
}
#main_wrap main .row7 .container .row .right a:hover {
    background: rgb(0, 0, 0, 0.9);}

#main_wrap main .row7 .container .row11 .left {
    background: url(../images/row7_001.png) no-repeat center / cover;
    width: 960px; height: 580px;
}
#main_wrap main .row7 .container > .row11 .right {width: 800px; height: 580px;}
#main_wrap main .row7 .container > .row22 .right {
    background: url(../images/row7_002.png) no-repeat center / cover;
    width: 960px; height: 580px;
}
#main_wrap main .row7 .container > .row33 .left {
    background: url(../images/row7_003.png) no-repeat center / cover; 
    width: 960px; height: 580px;
}

#main_wrap main .row7 .container > .row22 .left {width: 800px; height: 580px;}
#main_wrap main .row7 .container > .row33 .right {width: 800px; height: 580px;}


/* 8행 ====================================================================================== */
#main_wrap main .row8 {}
#main_wrap main .row8 .container {
    max-width: 1160px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 70px 0;
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center; gap: 40px;
}
#main_wrap main .row8 .container * {text-align: center;}
#main_wrap main .row8 .container h1 {
    font-size: 1.75rem; font-weight: 900; text-transform: uppercase;
    margin-bottom: 40px;
}
#main_wrap main .row8 .container .contents {display: flex; gap: 26.67px; justify-content: space-between; align-items: center;}
#main_wrap main .row8 .container .contents .offer {width: 270px; height: 493px; display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between ; gap: 35px;}
#main_wrap main .row8 .container .contents .offer .img {width: 270px; height: 270px;}
#main_wrap main .row8 .container .contents .offer .img img {}
#main_wrap main .row8 .container .contents .offer .txt {display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between ; gap: 30px;}
#main_wrap main .row8 .container .contents .offer .txt h2 {font-weight: 700;}
#main_wrap main .row8 .container .contents .offer .txt p {line-height: 1.2;}
#main_wrap main .row8 .container .contents .offer .btn {border: 1px solid #000; height: 50px; position: relative; box-sizing: border-box; }
#main_wrap main .row8 .container .contents .offer .btn a {font-weight: 500; padding: 17px 42px; line-height: 50px; position: relative;}
#main_wrap main .row8 .container .contents .offer .btn:hover {border: 1px solid #000; outline: 1px solid #000;}
#main_wrap main .row8 .container .contents .offer .btn:hover::after {height: 1px;}
#main_wrap main .row8 .container .contents .offer .btn::after {
    content: '';
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: 0px;
    background: #000;
}